<?xml version="1.0" encoding="UTF-8"?>
<appian-plugin name="{{NOMBRE}}" key="{{KEY}}">
  <plugin-info>
    <description>{{DESCRIPCION}}</description>
    <vendor name="{{VENDOR}}" url="{{VENDOR_URL}}"/>
    <version>{{VERSION}}</version>
    <application-version min="{{APPLICATION_VERSION_MIN}}"/>
  </plugin-info>

  <smart-service name="{{NOMBRE}}" key="{{BUNDLE}}"
                 class="{{PAQUETE}}.smartservice.{{CLASE}}"/>
</appian-plugin>
