<?xml version="1.0" encoding="UTF-8"?>
<appian-plugin name="{{NOMBRE}}" key="{{KEY}}">
  <plugin-info>
    <description>{{DESCRIPCION}}</description>
    <vendor name="{{VENDOR}}" url="{{VENDOR_URL}}"/>
    <version>{{VERSION}}</version>
    <application-version min="{{APPLICATION_VERSION_MIN}}"/>
  </plugin-info>

  <!-- La key nombra el MODULO, no la funcion. Appian busca su bundle como
       <key del plug-in>.<key del modulo>, asi que tiene que ser el nombre base
       del .properties o el plug-in no despliega (APNX-1-4200-000). La funcion se
       invoca en SAIL por el nombre de su metodo Java en minusculas, que es
       tambien lo que llevan las claves function.<nombre>.* del bundle. -->
  <function key="{{BUNDLE}}" class="{{PAQUETE}}.function.{{CLASE}}"/>
</appian-plugin>
