# Appian solo lee de este fichero las claves error.* y validation.*
# ("only error messages are read from bundles other than the default locale").
# El resto se traduce por coherencia, pero Appian siempre lee esos textos de en_US.
function.{{FUNCION}}.description={{DESCRIPCION_ES}}
{{CLAVES_PARAMETROS_ES}}
error.unexpected=Se produjo un error inesperado. Identificador de correlaci\u00f3n: {0}
